.loginBackground {
  width: 100vw;
  height: 100vh;
  background-color: #13181d;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../../assets/background.jpg');
  background-size: cover;
}

.loginContainer {
  position: absolute;
  background-color: rgba(228, 228, 228, 0);
  width: 70vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  /* border: 6px solid white; Borda de login*/
}

.loginContainer input {
  width: 400px;
  height: 40px;
  /* padding: 10px; */
  margin-bottom: 20px;
  border-radius: 20px;
  border: none;
}
.loginContainer input:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

input[type='email'],
input[type='password'],
input[type='text'] {
  border: 2px solid rgb(252, 252, 252);
  background-color: rgba(255, 255, 255, 0.26);
  color: rgb(255, 255, 255);
  outline: 0;
  padding: 0 1.6rem;
  font: 700 1rem 'Roboto';
  transition: 0.8s;
  text-align: center;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
  width: 420px;
}

input[type='submit'] {
  background-color: rgb(141, 1, 1);
  color: white;
  font: 700 1rem 'Roboto';
  cursor: pointer;
  transition: 0.8s;
}
input[type='submit']:hover {
  background-color: rgb(197, 0, 0);
}
::placeholder {
  color: rgb(218, 218, 218);
}

.loginWith {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.loginItem {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

img {
  width: 40px;
  transition: 0.8s;
}

.Deezer {
  width: 62px;
  transition: 0.8s;
}

.Facebook {
  width: 125px;
  transition: 0.8s;
}

img:hover,
.Facebook:hover {
  filter: brightness(0.7);
}

.Deezer:hover {
  opacity: 0.9;
}

.loginContainer a {
  color: rgb(204, 3, 3);
  margin-top: 20px;
  font: 700 1.2rem 'Roboto';
  cursor: pointer;
}

.loginContainer a:hover {
  color: rgb(209, 209, 209);
}

.loginTitle {
  color: white;
  font: 700 2.2rem 'Roboto';
  margin-bottom: 20px;
}

.backIcon {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.backIcon:hover {
  opacity: 0.7;
}
