* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 90vw;
  height: 100vh;
  background-color: #13181d;
}

.landingBody {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/background.jpg');
  background-size: cover;
}
