* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #13181d;

  width: 100vw;
  height: 100vh;
  display: flex;
  font: 700 0.8rem 'Roboto';
}

#root {
  width: 100vw;
  height: 100vh;
}

.landingBody {
  width: 100vw;
  height: 100vh;

  background-image: url('./assets/background.jpg');
  background-size: cover;
}

.bodyBackground {
  width: 1920px;
  height: 1190px;
}
