* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #112121;
  width: 100vw;
  height: 100vh;
  display: flex;
  font: 700 0.8rem 'Roboto';
}
.footer {
  background-color: #071111;
  width: 100vw;
  height: 70vh;
  align-items: center;
  justify-content: center;
  display: flex;
  font: 700 0.8rem 'Roboto';
}

#root {
  width: 100vw;
  height: 100vh;
}

.landingBody {
  width: 100vw;
  height: 100vh;

  background-image: url('./assets/background.jpg');
  background-size: cover;
}

.bodyBackground {
  width: 1920px;
  height: 1190px;
}

button:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

a {
  text-decoration: none;
}
