.benefitsContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.benefitsTextListeners {
  margin-left: 15%;
  font: 700 1.8rem 'Roboto';
  color: white;
  width: 40vw;
  text-align: center;
}

.benefitsTextListeners h2 {
  margin-top: 200px;
  margin-bottom: 40px;
  text-align: center;
}
.benefitsTextCompaines h2 {
  margin-bottom: 40px;
  text-align: center;
}

.benefitsTextCompaines {
  text-align: center;
  margin-left: 42%;
  font: 700 1.8rem 'Roboto';
  color: white;
  width: 40vw;
}

@media (max-width: 1400px) {
  .benefitsTextListeners {
    margin: 20%;
  }
  .benefitsTextListeners {
    font: 700 1.4rem 'Roboto';
    color: white;
    width: 90vw;
    text-align: center;
  }
  .benefitsTextListeners h2 {
    margin-top: 200px;
    margin-bottom: 0;
    margin-bottom: 40px;
    text-align: center;
  }
  .benefitsTextCompaines h2 {
    margin-bottom: 40px;
    text-align: center;
  }

  .benefitsTextCompaines {
    width: 90vw;
    text-align: center;
    margin: 20%;
    font: 700 1.4rem 'Roboto';
  }
}
