.container {
  width: 100vw;
  height: 20vh;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.textContainer {
  display: grid;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  grid-template-columns: 50% 50%;
}

.howWork {
  margin-left: 400px;
  max-height: 800px;
  max-width: 403px;
  color: white;
  font: 700 1.2rem 'JetBrains Mono';
  text-align: center;
}

@media (max-width: 1500px) {
  .textContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
  }
  .howWork {
    width: 100vw;
    height: 100vh;
    color: white;
    font: 700 1.2rem 'JetBrains Mono';
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
  }
}
h1 {
  font: 700 2.5rem 'JetBrains Mono';
}
